/***** LIST GENERAL CLASSES ****/

section.section-sep:nth-child(even) {
    background: #e1e9e4
}

section.section-sep:nth-child(odd) {
    background: #e8f8ee
}

/***** boxview ****/

.boxView {
    overflow: hidden;
    display: block;
    float: left;
    margin: 30px 20px 30px 20px;
    width: 33.33333%;
    border: 1px solid #fcfcfc;
    border-radius: 5px;
    padding: 0px;
    cursor: pointer;
    min-height: 370px;
    word-wrap: break-word;
    max-width: 240px;
    background: #fcfcfc;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(156, 156, 156, 0.64);
    -moz-box-shadow: 0px 0px 10px 2px rgba(156, 156, 156, 0.64);
    box-shadow: 0px 0px 10px 2px rgba(156, 156, 156, 0.64);
}


@media (min-width: 768px) and (max-width: 1024px) {
    .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }

    .boxView img {
        max-height: 200px
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 200px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 200px;
    }

}


.boxView .list-data {
    padding-left: 10px;
    display: block;
    padding-right: 10px;
    word-wrap: break-word;
}

.boxView:hover {
    border-color: #efefef;
    background: #efefef;
}

.boxView .boxView_line:first-child {
    padding-top: 15px;
    border-top: 3px solid #dcdcdc;
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
}

.boxView .boxView_line:last-child {
    font-size: 14px;
    font-weight: 90000;
}

.boxView .boxView_line:nth-child(2) {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: -10px;
    color: #767676;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    line-height: 20px;

}

.boxView .boxView_line {
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boxView img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}


.boxView .edit {
    margin: 20px auto 15px auto;
    padding: 5px 5px;
    display: block;
    width: 40%;
    background-color: #2199e8;
    border: 1px solid #2199e8;
    transition: background-color .25s ease-out, color .25s ease-out;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

.boxView .edit:hover {
    background-color: #1583cc;
}


.goBackToParent {
    text-decoration: none;
    color: red;
    font-size: 14px;
    font-weight: bold;
}


/*****For BoxView Pagination****/
.page_navigation {
    display: block;
    clear: both;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 20px;
    text-align: center;
}

.page_navigation a {
    padding: 5px 10px;
    border: 1px solid #2199e8;
    margin: 2px;
    color: #000000;
    text-decoration: none
}

.page_navigation a.active_page {
    background: #2199e8;
    color: #ffffff;
}

.show_all {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 0 17px;
    padding: 5px 12px;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #4D90FE;
    background-image: linear-gradient(top, #4D90FE, #4787ED);
    background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);
    background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
    background-image: linear-gradient(top, #4D90FE, #4787ED);
    border: 1px solid #4787ED;
    box-shadow: 0 1px 3px #BFBFBF;
}

/*boxview pagination css ends here*/



/**** this test-super class is for hover effect on show_all ***/
#test-super:hover {
    box-shadow: inset 0px 1px 1px #8C8C8C;
    text-decoration: none;

    color: #fff;
}

.list-style span strong {
    color: red;
}



#checklist-div {
    margin-top: 30px;
}

#checklist-div .btn {
    margin-left: 4px;
    margin-right: 4px;
}


/* Css for tables view */
select[name=example_length] {
    width: 60px;
}

.list-del:hover {
    text-decoration: none;
}

.display tr:hover {
    cursor: pointer;
}

.tbl-action {
    width: 20px !important;
}



.goBackToParent {
    text-decoration: none;
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.back-to-list span {
    font-weight: bold;
    color: red;
}






/********* style for right clicking Menu ***/

.image-menu,
.pdf-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.custom-menu {
    display: none;
    z-index: 2000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li,
.image-menu li,
.pdf-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover,
.image-menu li:hover,
.pdf-menu li:hover {
    background-color: #DEF;
}

.editPagePagination {
    float: right;
}
