/***** LIST GENERAL CLASSES ****/

section.section-sep:nth-child(even) {
    background: #e1e9e4
}

section.section-sep:nth-child(odd) {
    background: #e8f8ee
}

/***** boxview ****/

.boxView {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    margin: 30px 20px 30px 20px;
    width: 33.33333%;
    border: 1px solid #3db0da;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    min-height: 400px;
    word-wrap: break-word;
    max-width: 240px;
    background: white;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}


@media (min-width: 768px) and (max-width: 1024px) {
    .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }

    .boxView img {
        max-height: 200px
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 600px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 450px;
    }

}


.boxView .list-data {
    padding-top: 10px;
    padding-left: 0px;
    display: block;
    padding-right: 0px;
    word-wrap: break-word;
}

.boxView:hover {
    border: 1px solid #178fbb;
    -webkit-box-shadow: 1px 0px 13px 0px rgba(61, 176, 218, 0.69);
    -moz-box-shadow: 1px 0px 13px 0px rgba(61, 176, 218, 0.69);
    box-shadow: 1px 0px 13px 0px rgba(61, 176, 218, 0.69);
}

.boxView .boxView_line:first-child {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;

}

.boxView .boxView_line:last-child {
    border-top: 2px solid #3db0da;
    border-bottom: 1px solid #3db0da;
    font-size: 14px;
    font-weight: 90000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2587ab;
    position: absolute;
    bottom: 0px;
    width: 100%;

    background: rgba(169, 223, 242, 1);
    background: -moz-linear-gradient(-45deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(169, 223, 242, 1)), color-stop(50%, rgba(210, 245, 255, 1)), color-stop(100%, rgba(169, 223, 242, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    background: linear-gradient(135deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9dff2', endColorstr='#a9dff2', GradientType=1);
}

.boxView .boxView_line:nth-child(2) {
    white-space: normal;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
    font-size: 15px;
    font-weight: 100;
    margin-top: 1px;
    color: #767676;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    width: 100%

}

.boxView .boxView_line {
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boxView img {
    border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
    margin: 20px auto;
    width: 150px;
    height: 150px;
}

.profile-image {
    width: 100%;
}

.boxView .edit {
    width;
    20px;
    display: inline-flex;
    float: right !important;
    margin-top: 20px;
    margin-right: 10px;
    background: #3db0da !important;
    border: 1px solid #3db0da;
    transition: background-color .25s ease-out, color .25s ease-out;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.boxView .edit:after {
    font-family: FontAwesome;
    padding-left: 5px;
    content: "\f044";
    margin-top: 0px;
    font-size: 14px;
}

.boxView .edit:hover {
    background-color: #1583cc;
}


.goBackToParent {
    text-decoration: none;
    color: red;
    font-size: 14px;
    font-weight: bold;
}


/*****For BoxView Pagination****/
.page_navigation {
    display: block;
    clear: both;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 20px;
    text-align: center;
}

.page_navigation a {
    padding: 5px 10px;
    border: 1px solid #2199e8;
    margin: 2px;
    color: #000000;
    text-decoration: none
}

.page_navigation a.active_page {
    background: #2199e8;
    color: #ffffff;
}

.show_all {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 0 17px;
    padding: 5px 12px;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #4D90FE;
    background-image: linear-gradient(top, #4D90FE, #4787ED);
    background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);
    background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
    background-image: linear-gradient(top, #4D90FE, #4787ED);
    border: 1px solid #4787ED;
    box-shadow: 0 1px 3px #BFBFBF;
}

/*boxview pagination css ends here*/



/**** this test-super class is for hover effect on show_all ***/
#test-super:hover {
    box-shadow: inset 0px 1px 1px #8C8C8C;
    text-decoration: none;

    color: #fff;
}

.list-style span strong {
    color: red;
}

#checklist-div {
    margin-top: 30px;
}

#checklist-div .btn {
    margin-left: 4px;
    margin-right: 4px;
}


/* Css for tables view */
select[name=example_length] {
    width: 60px;
}

.list-del:hover {
    text-decoration: none;
}

.display tr:hover {
    cursor: pointer;
}

.tbl-action {
    width: 20px !important;
}



.goBackToParent {
    text-decoration: none;
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.back-to-list span {
    font-weight: bold;
    color: red;
}






/********* style for right clicking Menu ***/

.image-menu,
.pdf-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.custom-menu {
    display: none;
    z-index: 2000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li,
.image-menu li,
.pdf-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover,
.image-menu li:hover,
.pdf-menu li:hover {
    background-color: #DEF;
}

.editPagePagination {
    float: right;
}
