@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');
/***** LIST GENERAL CLASSES ****/

section.section-sep:nth-child(even) {
    background: #e1e9e4
}

section.section-sep:nth-child(odd) {
    background: #e8f8ee
}

.boxViewContainer .boxView:nth-of-type(even) {
    background: #caeff9;
    background: -moz-linear-gradient(top, #caeff9 50%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #caeff9 50%, #fefefe 100%);
    background: linear-gradient(to bottom, #caeff9 50%, #fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#caeff9', endColorstr='#fefefe', GradientType=0);
}

.boxWideContainer .boxWide:nth-of-type(even) {
    background: #caeff9;
    background: -moz-linear-gradient(top, #caeff9 50%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #caeff9 50%, #fefefe 100%);
    background: linear-gradient(to bottom, #caeff9 50%, #fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#caeff9', endColorstr='#fefefe', GradientType=0);
}

.boxViewContainer .boxView:nth-of-type(even) img {
    border-color: #72a5e6;
}

.boxWideContainer .boxWide:nth-of-type(even) img {
    border-color: #72a5e6;
}

/***** boxview ****/

.boxViewContainer {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(225, 228, 230, 0.63)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e4e6', GradientType=1);
}

.boxWideContainer {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(225, 228, 230, 0.63)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(225, 228, 230, 0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e4e6', GradientType=1);
}

.boxViewContainer .boxView {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    margin: 30px 10px 30px 10px;
    width: 33.33333%;
    height: 550px;
    padding: 0px;
    cursor: pointer;
    word-wrap: break-word;
    max-width: 260px;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    background: -moz-linear-gradient(top, #d1eace 50%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #d1eace 50%, #fefefe 100%);
    background: linear-gradient(to bottom, #d1eace 50%, #fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1eace', endColorstr='#fefefe', GradientType=0);
    -webkit-box-shadow: 0px 10px 45px -11px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 10px 45px -11px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 10px 45px -11px rgba(0, 0, 0, 0.37);
}

.boxWideContainer .boxWide {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    margin: 30px 10px 30px 10px;
    width: 100%;
    height: 250px;
    padding: 0px;
    cursor: pointer;
    word-wrap: break-word;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    background: -moz-linear-gradient(top, #d1eace 50%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #d1eace 50%, #fefefe 100%);
    background: linear-gradient(to bottom, #d1eace 50%, #fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1eace', endColorstr='#fefefe', GradientType=0);
    -webkit-box-shadow: 0px 10px 45px -11px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 10px 45px -11px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 10px 45px -11px rgba(0, 0, 0, 0.37);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }

    .boxView img {
        max-height: 200px
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 570px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 390px;
    }
}

.boxView .list-data {
    padding-top: 10px;
    padding-left: 0px;
    display: block;
    padding-right: 0px;
    word-wrap: break-word;
}

.boxView .boxView_line:first-child {
    font-family: 'Dosis', sans-serif;
    border-bottom: 1px solid #cacaca;
    margin: 0 15px;
    padding-top: 0px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #686f73;
    text-align: center;
}

.boxView .boxView_line:last-child {
    font-size: 15px;
    font-weight: 90000;
    padding-top: 5px;
    padding-bottom: 0px;
    color: #767676;
    width: 100%;
}

.boxView .boxView_line:nth-child(2) {
    white-space: normal;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 6 !important;
    -webkit-box-orient: vertical !important;
    font-size: 15px;
    font-weight: 100;
    margin-top: 1px;
    color: #767676;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
}

.boxView .boxView_line {
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boxView img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-bottom: 3px solid #84bf53;
}

.boxWide img {
    width: 50%;
    height: 250px;
    object-fit: cover;
    border-bottom: 3px solid #84bf53;
}

.profile-image {
    width: 100%;
}

.boxView .edit {
    background: #7ebb3a !important;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    border-radius: 30px;
    border: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate3d(-50%, 0, 0)
}

.boxView .edit:after {
    font-family: FontAwesome;
    padding-left: 5px;
    content: "\f044";
    margin-top: 0px;
    font-size: 12px;
}

.boxView .edit:hover {
    background-color: #1583cc;
}

.goBackToParent {
    text-decoration: none;
    color: red;
    font-size: 14px;
    font-weight: bold;
}

/*****For BoxView Pagination****/

.page_navigation {
    display: block;
    clear: both;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 20px;
    text-align: center;
}

.page_navigation a {
    padding: 5px 10px;
    border: 1px solid #2199e8;
    margin: 2px;
    color: #000000;
    text-decoration: none
}

.page_navigation a.active_page {
    background: #2199e8;
    color: #ffffff;
}

.show_all {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 0 17px;
    padding: 5px 12px;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #4D90FE;
    background-image: linear-gradient(top, #4D90FE, #4787ED);
    background-image: -ms-linear-gradient(top, #4D90FE, #4787ED);
    background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
    background-image: linear-gradient(top, #4D90FE, #4787ED);
    border: 1px solid #4787ED;
    box-shadow: 0 1px 3px #BFBFBF;
}

/*boxview pagination css ends here*/

/**** this test-super class is for hover effect on show_all ***/

#test-super:hover {
    box-shadow: inset 0px 1px 1px #8C8C8C;
    text-decoration: none;
    color: #fff;
}

.list-style span strong {
    color: red;
}

#checklist-div {
    margin-top: 30px;
}

#checklist-div .btn {
    margin-left: 4px;
    margin-right: 4px;
}

/* Css for tables view */

select[name=example_length] {
    width: 60px;
}

.list-del:hover {
    text-decoration: none;
}

.display tr:hover {
    cursor: pointer;
}

.tbl-action {
    width: 20px !important;
}

.goBackToParent {
    text-decoration: none;
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.back-to-list span {
    font-weight: bold;
    color: red;
}

/********* style for right clicking Menu ***/

.image-menu,
.pdf-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.custom-menu {
    display: none;
    z-index: 2000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */

.custom-menu li,
.image-menu li,
.pdf-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover,
.image-menu li:hover,
.pdf-menu li:hover {
    background-color: #DEF;
}

.editPagePagination {
    float: right;
}



/************************************************
Leaf Theme Starts
************************************************/

.boxViewContainer.product_profile_2_boxes .boxView {
    background: rgba(245,255,219,1);
    background: -moz-linear-gradient(top, rgba(245,255,219,1) 0%, rgba(208,245,173,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,255,219,1)), color-stop(100%, rgba(208,245,173,1)));
    background: -webkit-linear-gradient(top, rgba(245,255,219,1) 0%, rgba(208,245,173,1) 100%);
    background: -o-linear-gradient(top, rgba(245,255,219,1) 0%, rgba(208,245,173,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,255,219,1) 0%, rgba(208,245,173,1) 100%);
    background: linear-gradient(to bottom, rgba(245,255,219,1) 0%, rgba(208,245,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ffdb', endColorstr='#d0f5ad', GradientType=0 );
}

.boxViewContainer.product_profile_2_boxes .boxView_line {
    padding: 10px 0px;
    color: #217d17;
}
.boxViewContainer.product_profile_2_boxes .boxView img {
    border-color: #217d17;
}

.product_profile_2_boxes .boxView {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    margin: 30px 10px 30px 10px;
    width: 33.33333%;
    border: 10px solid transparent;
    border-radius: 15% 0% 15% 0%;
    padding: 0px;
    cursor: pointer;
    min-height: 380px;
    max-height: 380px;
    height: auto;
    word-wrap: break-word;
    max-width: 260px;
    background: #fcfcfc;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(156, 156, 156, 0.8);
    -moz-box-shadow: 0px 0px 5px 2px rgba(156, 156, 156, 0.8);
    box-shadow: 0px 0px 5px 2px rgba(156, 156, 156, 0.8);
    transition: 0.3s;
}
.product_profile_2_boxes .boxView .boxView_line:nth-child(2) {
    white-space: normal;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 0px;
    margin-top: 1px;
    color: #333;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
}

.product_profile_2_boxes .boxView .edit {
    display: flex;
    float: right !important;
    margin-top: 8px;
    background: #333 !important;
    border: 0px solid #333;
    transition: background-color .25s ease-out, color .25s ease-out;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    border-radius: 0px;
    position: static;
    transform: translate3d(0, 0, 0);
}

.product_profile_2_boxes .boxView .edit:after {
    font-family: FontAwesome;
    padding-left: 5px;
    content: "\f044";
    margin-top: 0px;
    font-size: 12px;
}

.product_profile_2_boxes .boxView .edit:hover {
    background-color: #333;
}

.product_profile_2_boxes .boxView .boxView_line:first-child {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333;
    text-align: left;
    margin: 0;
    padding: 0;
}

/************************************************
Leaf Theme Ends
************************************************/


/************************************************
Blue Theme Starts
************************************************/

.boxViewContainer.product_profile_3_boxes .boxView:nth-of-type(even) {
    background: rgba(252,249,218,1);
    background: -moz-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,249,218,1)), color-stop(100%, rgba(255,230,189,1)));
    background: -webkit-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: -o-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: linear-gradient(to bottom, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf9da', endColorstr='#ffe6bd', GradientType=0 );
}

.boxViewContainer.product_profile_3_boxes .boxView:nth-of-type(even) img {
    border-color: transparent;
}

.product_profile_3_boxes .boxView {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    margin: 30px 20px 30px 20px;
    width: 33.33333%;
    /* border: 1px solid #3db0da; */
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    min-height: 400px;
    word-wrap: break-word;
    max-width: 240px;
    height: auto;
    background: rgba(252,249,218,1);
    background: -moz-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,249,218,1)), color-stop(100%, rgba(255,230,189,1)));
    background: -webkit-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: -o-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: linear-gradient(to bottom, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf9da', endColorstr='#ffe6bd', GradientType=0 );
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product_profile_3_boxes .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }

    .product_profile_3_boxes .boxView img {
        max-height: 200px
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .product_profile_3_boxes .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .product_profile_3_boxes .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 600px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .product_profile_3_boxes .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 450px;
    }
}

.product_profile_3_boxes .boxView .list-data {
    padding-top: 10px;
    padding-left: 0px;
    display: block;
    padding-right: 0px;
    word-wrap: break-word;
}

.product_profile_3_boxes .boxView:hover {
    border: 1px solid #178fbb;
    -webkit-box-shadow: 1px 0px 13px 0px rgba(61, 176, 218, 0.69);
    -moz-box-shadow: 1px 0px 13px 0px rgba(61, 176, 218, 0.69);
    box-shadow: 1px 0px 13px 0px rgba(61, 176, 218, 0.69);
}

.product_profile_3_boxes .boxView .boxView_line:first-child {
    width: 70%;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333;
    font-family: inherit;
    text-align: left;
    padding: 0;
    border: 0;
}

.product_profile_3_boxes .boxView .boxView_line:last-child {
    border-top: 2px solid #3db0da;
    border-bottom: 1px solid #3db0da;
    font-size: 14px;
    font-weight: 90000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2587ab;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(252,249,218,1);
    background: -moz-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,249,218,1)), color-stop(100%, rgba(255,230,189,1)));
    background: -webkit-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: -o-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    background: linear-gradient(to bottom, rgba(252,249,218,1) 0%, rgba(255,230,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf9da', endColorstr='#ffe6bd', GradientType=0 );
}

.product_profile_3_boxes .boxView .boxView_line:nth-child(2) {
    white-space: normal;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
    font-size: 15px;
    font-weight: 100;
    margin-top: -10px;
    color: #000;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
}

.product_profile_3_boxes .boxView .boxView_line {
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_profile_3_boxes .boxView img {
    width: 100%;
    border: 1px solid #3db0da;
}

.profile-image {
    width: 100%;
}

.product_profile_3_boxes .boxView .edit {
    display: inline-flex;
    float: right !important;
    margin-top: 10px;
    margin-right: 10px;
    background: #3db0da !important;
    border: 1px solid #3db0da;
    transition: background-color .25s ease-out, color .25s ease-out;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    position: static;
    left: auto;
    transform: translate3d(0, 0, 0);
    border-radius: 5px;
}

.product_profile_3_boxes .boxView .edit:after {
    font-family: FontAwesome;
    padding-left: 5px;
    content: "\f044";
    margin-top: 0px;
    font-size: 14px;
}

.product_profile_3_boxes .boxView .edit:hover {
    background-color: #1583cc;
}

/************************************************
Blue Theme Ends
************************************************/



/************************************************
Blue Circle Theme Starts
************************************************/

.boxViewContainer.product_profile_4_boxes .boxView:nth-of-type(even) {
    background: #654ea3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eaafc8, #654ea3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eaafc8, #654ea3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.boxViewContainer.product_profile_4_boxes .boxView:nth-of-type(even) img {
    border-color: transparent;
}

.product_profile_4_boxes .boxView {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    margin: 30px 10px 30px 10px;
    width: 33.33333%;
    border: 1px solid #3db0da;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    min-height: 400px;
    height: auto;
    word-wrap: break-word;
    max-width: 250px;
    background: #654ea3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eaafc8, #654ea3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eaafc8, #654ea3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product_profile_4_boxes .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }

    .product_profile_4_boxes .boxView img {
        max-height: 200px
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .product_profile_4_boxes .boxView {
        width: 44%;
        max-width: 80%;
        min-height: 400px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .product_profile_4_boxes .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 600px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .product_profile_4_boxes .boxView {
        width: 90%;
        max-width: 90%;
        min-height: 450px;
    }
}

.product_profile_4_boxes .boxView .list-data {
    padding-top: 10px;
    padding-left: 0px;
    display: block;
    padding-right: 0px;
    word-wrap: break-word;
}

.product_profile_4_boxes .boxView:hover {
    border: 1px solid #178fbb;
    -webkit-box-shadow: 1px 0px 13px 0px rgba(61, 176, 218, 0.69);
    -moz-box-shadow: 1px 0px 13px 0px rgba(61, 176, 218, 0.69);
    box-shadow: 1px 0px 13px 0px rgba(61, 176, 218, 0.69);
}

.product_profile_4_boxes .boxView .boxView_line:first-child {
    width: 70%;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #333;
    font-family: inherit;
    text-align: left;
    padding: 0;
    border: 0;
}

.product_profile_4_boxes .boxView .boxView_line:last-child {
    border-top: 2px solid #3db0da;
    border-bottom: 1px solid #3db0da;
    font-size: 14px;
    font-weight: 90000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2587ab;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(169, 223, 242, 1);
    background: -moz-linear-gradient(-45deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(169, 223, 242, 1)), color-stop(50%, rgba(210, 245, 255, 1)), color-stop(100%, rgba(169, 223, 242, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    background: linear-gradient(135deg, rgba(169, 223, 242, 1) 0%, rgba(210, 245, 255, 1) 50%, rgba(169, 223, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9dff2', endColorstr='#a9dff2', GradientType=1);
}

.product_profile_4_boxes .boxView .boxView_line:nth-child(2) {
    white-space: normal;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4 !important;
    -webkit-box-orient: vertical !important;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    color: #fff;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
}

.product_profile_4_boxes .boxView .boxView_line {
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_profile_4_boxes .boxView img {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-bottom: 0;
}

.profile-image {
    width: 100%;
}

.product_profile_4_boxes .boxView .edit {
    width: 64px;
    display: inline-flex;
    float: right !important;
    margin-top: 10px;
    margin-right: 10px;
    background: #3db0da !important;
    border: 1px solid #3db0da;
    transition: background-color .25s ease-out, color .25s ease-out;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    position: static;
    left: auto;
    transform: translate3d(0, 0, 0);
    border-radius: 5px;
}

.product_profile_4_boxes .boxView .edit:after {
    font-family: FontAwesome;
    padding-left: 5px;
    content: "\f044";
    margin-top: 0px;
    font-size: 14px;
}

.product_profile_4_boxes .boxView .edit:hover {
    background-color: #1583cc;
}

/************************************************
Blue Circle Theme Ends
************************************************/

/* box shadow */

.box_style1 .boxViewContainer .boxView{height: auto;}
.box_style1 .profile-image{width: 100%;position: relative;display: inline-block;vertical-align: middle;height: 100%;clip-path: none !important;}
.box_style1.boxViewContainer .boxView{background: none;}
.box_style1.boxViewContainer .boxView img{border: none;max-width: 100%;width: auto;height: inherit;display: block;margin: 0 auto;}
.box_style1.boxViewContainer .boxView .list-data{top: 0px;left: 0px;right: 0px;bottom: 0px;margin: auto;position: absolute;height: 90px;z-index: 999;padding-top: 0;}
.box_style1 .boxView .boxView_line:last-child{margin-left: 0;border: 0px;color: #ffffff;font-size: 26px;text-shadow: 0px 0px 22px #000000;-webkit-text-shadow: 0px 0px 22px #000000;-o-text-shadow: 0px 0px 22px #000000;-moz-text-shadow: 0px 0px 22px #000000;}
.box_style1.boxViewContainer .boxView:after{position: absolute;width: 100%;height: 100%;top: 0px;left: 0px;right: 0px;background-color: rgba(0,0,0,0.2);content: '';transition: 0.5s all ease;-webkit-transition: 0.5s all ease;-moz-transition: 0.5s all ease;-o-transition: 0.5s all ease;}
.box_style1 .boxView .edit{position: relative;z-index: 99999;bottom: 135px;font-size: 16px; padding: 7px 30px !important;box-shadow: 0px 0px 10px rgba(0,0,0,0.5);-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);border-radius: 0px;}
.box_style1 .boxView .edit:after{font-size: 16px;}
.box_style1 .boxView img{height: auto;min-height: 180px;}
.box_style1 .boxViewContainer .boxView{height: 180px;}


.box_style1 .profile-image:before{position: absolute;content: "";top: 10px;bottom: 10px;left: 10px;right: 10px;border-top: 2px solid #fff;border-bottom: 2px solid #fff;-webkit-transform: scale(0,1);transform: scale(0,1);opacity: 0;transition: opacity .35s,-webkit-transform .35s;transition: opacity .35s,transform .35s;z-index: 999;}
.box_style1 .profile-image:after{position: absolute;content: "";top: 10px;bottom: 10px;left: 10px;right: 10px;z-index: 999;border-left: 2px solid #fff;border-right: 2px solid #fff;-webkit-transform: scale(1,0);transform: scale(1,0);opacity: 0;transition: opacity .35s,-webkit-transform .35s;transition: opacity .35s,transform .35s;}
.box_style1.boxViewContainer .boxView:hover .profile-image:before,.box_style1.boxViewContainer .boxView:hover .profile-image:after{opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
.box_style1.boxViewContainer .boxView:hover:after{background-color: rgba(0,0,0,0.6);}
.box_style1.boxViewContainer .boxView{width: 100%;max-width: 48%;height: 340px;}
.box_style1 .boxView .edit{background: #000000 !important;transition: 0.5s all ease;-webkit-transition: 0.5s all ease;-o-transition: 0.5s all ease;-moz-transition: 0.5s all ease;}
.box_style1 .boxView .edit:hover{background: #ffffff !important;color: #000000;}
.box_style1 .boxView .boxView_line:last-child{}

.sorted-asc .caret{
  border-bottom: 4px solid !important;
  border-top: none;
}







