

/*********Navigation has mostly bootstrap classes. some classes below are modified for the header and logo*****/
.navbar{
/*
 white-space: nowrap;
   overflow-x:auto;
     overflow-y: hidden;
*/
}
.navbar-brand{}
.navbar-default{}

.logo, .logo-login{}
.logo span, .logo-login span{}

.logo.center {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 400px;
}
.logo.right {
    margin-right: 15px;
}
.navbar-brand  {
    display: inline-block;
    height: auto;
}
.navbar-brand > img {
    display: inline-block;
    margin-right: 10px;
}
