.center-container {
    background-color: white;
}



.user-profile {
    background-color: white;
}



#user_profile_form {
    background-color: white;
}





.profile-image {
    clip-path: ellipse(60px 40px at 75px 30px);
}



.profile_page .new_form label {
    display: none;
}




#user_profile_form.profile_page .new_form .form-control {
    color: black;
    font-size: 16pt;

}
